<ion-content padding>

  <ion-slides pager>

    <ion-slide>
      <img src="assets/img/slide1.png">
      <h2>Welcome to the <b>ICA</b></h2>
      <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of
        proper code use.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide2.png">
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web
        technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide3.png">
      <h2 class="slide-title">What is Ionic Cloud?</h2>
      <p>The <b>Ionic Cloud</b> is a cloud platform for managing and scaling Ionic apps with integrated services like
        push notifications, native builds, user auth, and live updating.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide4.png">
      <h2 class="slide-title">Ready to Play?</h2>
      <ion-button fill="clear" size="large" (click)="goToTabs()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
  
</ion-content>