.swiper-slide {
    display: inline-block;
}

.swiper-slide img {
    width: 60%;
    margin: 50px 0;
}

// .swiper-pagination-bullets {
//     bottom: 0px !important;
// }

// .swiper-pagination {
//     position: relative !important;
// }