<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/marty-avatar.png">
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Marty McFly</ion-card-title>
        <ion-card-subtitle>November 5, 1955</ion-card-subtitle>
      </ion-card-header>
    </ion-item>

    <img src="assets/img/advance-card-bttf.png">

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

    <ion-row>
      <ion-col>
        <ion-button fill="clear" size="small">
          <ion-icon name="thumbs-up"></ion-icon>
          12 Likes
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small">
          <ion-icon name="text"></ion-icon>
          4 Comments
        </ion-button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>